USE [master]
GO
/****** Object:  Database [Shapkin_DemoShoes]    Script Date: 17.12.2025 11:03:25 ******/
CREATE DATABASE [Shapkin_DemoShoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shapkin_DemoShoes', FILENAME = N'/var/opt/mssql/data/Shapkin_DemoShoes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Shapkin_DemoShoes_log', FILENAME = N'/var/opt/mssql/data/Shapkin_DemoShoes_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shapkin_DemoShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shapkin_DemoShoes]
GO
/****** Object:  User [alexm]    Script Date: 17.12.2025 11:03:25 ******/
CREATE USER [alexm] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[IdManufacturer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_manufacturer] PRIMARY KEY CLUSTERED 
(
	[IdManufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[IdOffice] [int] IDENTITY(1,1) NOT NULL,
	[PostIndex] [int] NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_office] PRIMARY KEY CLUSTERED 
(
	[IdOffice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[OfficeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[Status] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[IdOrderProduct] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_orderProduct] PRIMARY KEY CLUSTERED 
(
	[IdOrderProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Scu] [nvarchar](10) NOT NULL,
	[ProductName] [nvarchar](70) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [float] NOT NULL,
	[SupplyerId] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[ProductCat] [nvarchar](70) NOT NULL,
	[Discount] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[Desk] [nvarchar](550) NOT NULL,
	[Photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplyer]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplyer](
	[IdSupplyer] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_supplyer] PRIMARY KEY CLUSTERED 
(
	[IdSupplyer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17.12.2025 11:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([IdManufacturer], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [Name]) VALUES (3, N'Poc')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

INSERT [dbo].[Office] ([IdOffice], [PostIndex], [Address]) VALUES (1, 420151, N'г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[Office] ([IdOffice], [PostIndex], [Address]) VALUES (2, 125061, N'г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[Office] ([IdOffice], [PostIndex], [Address]) VALUES (3, 630370, N'г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [OrderDate], [DeliveryDate], [OfficeId], [UserId], [Code], [Status]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, N'Завершен')
INSERT [dbo].[Order] ([IdOrder], [OrderDate], [DeliveryDate], [OfficeId], [UserId], [Code], [Status]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, 902, N'Завершен')
INSERT [dbo].[Order] ([IdOrder], [OrderDate], [DeliveryDate], [OfficeId], [UserId], [Code], [Status]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, 903, N'Завершен')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (2, 2, 3, 1)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (3, 3, 5, 10)
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([IdProduct], [Scu], [ProductName], [Unit], [Price], [SupplyerId], [ManufacturerId], [ProductCat], [Discount], [Stock], [Desk], [Photo]) VALUES (1, N'А112Т4', N'Ботинки', N'шт.', 4990, 1, 1, N'Женская обувь', 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Product] ([IdProduct], [Scu], [ProductName], [Unit], [Price], [SupplyerId], [ManufacturerId], [ProductCat], [Discount], [Stock], [Desk], [Photo]) VALUES (2, N'F635R4', N'Ботинки', N'шт.', 3244, 2, 2, N'Женская обувь', 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Product] ([IdProduct], [Scu], [ProductName], [Unit], [Price], [SupplyerId], [ManufacturerId], [ProductCat], [Discount], [Stock], [Desk], [Photo]) VALUES (3, N'H782T5', N'Туфли', N'шт.', 4499, 1, 1, N'Мужская обувь', 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplyer] ON 

INSERT [dbo].[Supplyer] ([IdSupplyer], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Supplyer] ([IdSupplyer], [Name]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Supplyer] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Role], [FullName], [Login], [Password]) VALUES (1, N'Администратор', N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([IdUser], [Role], [FullName], [Login], [Password]) VALUES (2, N'Администратор', N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([IdUser], [Role], [FullName], [Login], [Password]) VALUES (3, N'Администратор', N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_order_office] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[Office] ([IdOffice])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_order_office]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_order_user] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_order_user]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_orderProduct_orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_orderProduct_orders]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_orderProduct_product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_orderProduct_product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_product_manufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([IdManufacturer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_product_manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_product_supplyer] FOREIGN KEY([SupplyerId])
REFERENCES [dbo].[Supplyer] ([IdSupplyer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_product_supplyer]
GO
USE [master]
GO
